<%= render "shared/header_user_before_signin" %>

<div class="container" style="margin-top: 50px;">
  <div style="width: auto; max-width: 550px; margin: 0 auto;">
    <h2>Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 25vw; min-width: 200px;" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", style: "width: 25vw; min-width: 200px;" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>

    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="margin-top: 15px;">
        <%= f.hidden_field :email, value: "test@example.com" %>
        <%= f.hidden_field :password, value: "password" %>
        <%= f.submit "簡単ログイン" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>