<%= render "shared/header_user_after_signin" %>

<div class="container mt-5">
  <div style="width: auto; max-width: 550px; margin: 0 auto;">
    <h2>Profile Edit</h2>
    <div class="mb-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-2">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field mb-2">
          <%= f.label :profile_image %><br />
          <%= image_tag attachment_url(current_user, :profile_image, :fill, 150, 150, format: "jpg"), :style => "border-radius: 100%; height: auto",fallback: "no_image.jpg" %><br />
          <%= f.attachment_field :profile_image %>
        </div>

        <div class="field mb-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "今までのProustデータも全て消えます。本当に消しますか？" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>